/.idea

# DOCKER

/docker-compose.config.sh

/docker-compose.env.local

/data/mysql/*
/data/solr/*
!/data/mysql/.gitkeep
!/data/solr/.gitkeep

/logs/apache/*
/logs/cli/*
/logs/memcached/*
/logs/mysql/*
/logs/nginx/*
/logs/solr/*
/logs/varnish/*
!/logs/apache/.gitkeep
!/logs/cli/.gitkeep
!/logs/memcached/.gitkeep
!/logs/mysql/.gitkeep
!/logs/nginx/.gitkeep
!/logs/solr/.gitkeep
!/logs/varnish/.gitkeep

# WEBSITE

/site/bin/behat
/site/bin/doctrine
/site/bin/doctrine.php
/site/bin/doctrine-dbal
/site/bin/phpunit
/site/bin/security-checker
/site/bin/ezp5installer.php
/site/bin/php-parse

/site/ezpublish/config/parameters.yml
/site/ezpublish/cache/
/site/ezpublish/logs/
/site/ezpublish/bootstrap.php.cache
/site/ezpublish/tmp/

/site/ezpublish_legacy/
/site/vendor/

/site/web/index_rest.php
/site/web/index_cluster.php

/site/web/bundles/
/site/web/css/
/site/web/design
/site/web/extension
/site/web/js/
/site/web/share
/site/web/var

/site/web/.htaccess
/site/web/clearopcache.php

/site/composer
