# This file is a "template" of what your parameters.yml file should look like
#
# NB: only per-environment parameters should be here

parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
